body {
    font-family:'Roboto',sans-serif;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF ;
}



ul {
    list-style-type: none;
}

.wed {


    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03;
    text-transform: uppercase;
    color: #4d5ae5;
   

}

.wed:hover,
.wed:focus {
    color: #404bbf;
}

.studio{
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 700;
    color: #2e2f42 
}

.navigation-form {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgba(46, 47, 66, 1);
   
    
}


.navigation-form:hover,
.navigation-form:focus {
   
    color: rgba(64, 75, 191, 1);
    
}

.contakt{
    font-style: normal;
    letter-spacing: 0.02em
}

.contakt .contakt-form{
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    color: rgba(67, 68, 85, 1);
  
}

.contakt .contakt-form:hover,
.contakt .contakt-form:active{
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    color: rgba(64, 75, 191, 1);
   
}


/*class main*/

.center {
    background-color: #2E2F42;
}

.center-ab {

    font-size: 56px;
    font-family: "Roboto";
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    line-height:1.07;
    text-align: center;
    letter-spacing: 0.02em;
   

}

.knop {
    background-color: #4D5AE5;
    cursor: pointer;
   
   
}

.knop:hover,
.knop:focus {
    
    background-color: #404BBF;
    cursor: pointer;

}


.center-knop {

    font-size: 16px;
    font-family: "Roboto";
    font-weight:500;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    

    
}

.abzac{

    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgba(46, 47, 66, 1);
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}


.paragraf {

    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    color: rgba(67, 68, 85, 1);
    letter-spacing: 0.02em;
    
}

.tim {

font-size: 36px;
font-family: "Roboto";
font-weight: 700;
color: rgba(46, 47, 66, 1);


}


.pipl {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgba(46, 47, 66, 1);
    

}


.pipl-work {

    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    color: rgba(67, 68, 85, 1);

    
}

.pipl-works{

    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    color: rgba(67, 68, 85, 1);
    
}

.pipl-worksi{

    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    color: rgba(67, 68, 85, 1);
    
    
}

.sect-port {
    background-color: #F4F4FD ;
}


.opshen {

    font-size: 36px;
    font-family: "Roboto";
    font-weight: 700;
    color: #2e2f42;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}


.opshen-itemq {

    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgba(46, 47, 66, 1);
   

}


.opshen-itemw {

    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgba(46, 47, 66, 1);
   
}
.opshen-iteme{

    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgba(46, 47, 66, 1);
    
}

.opshen-itemr{

    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgba(46, 47, 66, 1);
    
}
.opshen-itemt{

    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgba(46, 47, 66, 1);
   
}
.opshen-itemy{

    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    color: rgba(46, 47, 66, 1);
   
}


.opshen-skill {

    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    color: rgba(67, 68, 85, 1);
    

}

.doun {
    background-color: #2E2F42;
}


.leg{

font-size: 16px;
font-family: "Roboto";
font-weight: 400;
color: rgba(244, 244, 253, 1);
letter-spacing:0.02em ;


}

.studion {

    font-size: 18px;
    font-family: "Raleway";
    font-weight: 700;
    
    color: rgba(244, 244, 253, 1);
}